body {
    background-color: rgb(34, 32, 32);
    color: white;
}

.menu-bar img {
    max-width: 8.4%;
    height: auto;
}

.menu-bar .cu {
    text-align: center;
    font-size: 20px;
    margin-top: -3%;
    padding: 0% 41%;
    display: flex;
    justify-content: space-between;
}

.menu-bar .cu a:visited {
    color: white;
}

.middle{
    margin-top: 8%;
}

.left h1 {
    margin-top: 14%;
    margin-left: 20%;
    font-size: 67px;
}

.left h2 {
    margin-left: 20%;
    font-size: 20px;
}

.left button {
    margin-left: 20%;
    font-size: 20px;
    background-color: rgba(255, 222, 173, 0);
    color: white;
    border: 1px solid #bdb43d;
}

.left {
    width: 50%; 
    height: 500px; 
    float: left; 
}

.right {
    margin-left: 50%; 
    height: 500px; 
}

.right img{
    margin-left: -10%;
    max-width: 1000px;
    height: auto;
}